/* Small devices such as large phones (640px and up) */
@media only screen and (min-width: 640px) {
}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 768px) {
  .nav {
    display: flex;
    align-items: baseline;
    align-content: center;
    flex-wrap: wrap;
  }
  .btn-2::before {
    left: 82px;
  }
  .btn-2 i {
    left: 90px;
  }
  .nav_list {
    margin: 0 auto;
  }
  .nav_list ul {
    display: flex;
    flex-flow: row;
  }

  .nav_list ul li::before {
    content: "";
    width: 0rem;
    height: 0.1rem;
    position: absolute;
    top: 80%;
    background-color: var(--main-color);
    transition: all 1s;
  }
  .nav_list ul li:hover::before {
    width: 2.7rem;
  }
  .nav_list ul li:nth-last-of-type(2)::before {
    content: "";
    width: 0rem;
    height: 0.1rem;
    position: absolute;
    top: 80%;
    background-color: var(--main-color);
  }
  .nav_list ul li:nth-last-of-type(2):hover::before {
    width: 3.2rem;
  }
  .nav_list ul li:nth-last-of-type(1)::before {
    content: "";
    width: 0rem;
    height: 0.1rem;
    position: absolute;
    top: 80%;
    background-color: var(--main-color);
  }
  .nav_list ul li:nth-last-of-type(1):hover::before {
    width: 3.6rem;
  }
  .nav .nav_logo {
    margin-left: 5rem;
  }

  .header {
    height: 100vh;
    flex-flow: row-reverse wrap;
  }

  .header {
    justify-content: space-between;
  }
  .header_photo {
    width: 30%;

    padding-top: 1rem;
  }
  .header_text {
    width: 50%;
    background-color: #eeeeee;
    display: flex;
    flex-flow: wrap;
    text-align: left;
    padding: 0px 109px;
  }
  .btn-1 {
    height: 44px;
    background-color: var(--main-color);
    width: 27%;
    padding: 10px 0;
    border-radius: 0px 50px 50px 50px;
    margin: 0;
    margin-right: 24px;
    text-align: center;
  }

  .btn-2 {
    width: 46%;
    padding: 10px 0;
    margin-left: 19px;
    /* border-radius: 50px; */
    /* margin: 0 auto; */
    margin-top: 0px;
    position: relative;
  }

  .btn-2 i {
    font-size: 47px;
    position: absolute;
    top: -2.5px;
    left: -12px;
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 50px;
  }
  .btn-2::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 60px;
    top: -10px;
    left: -20px;
    background-color: var(--main-color);
    border-bottom-left-radius: 500px;
    border-top-left-radius: 500px;
  }

  .card-sec1 {
    width: 30%;
  }

  .con-cardes {
    display: flex;
    column-gap: 50px;
  }

  .con-sec1 {
    width: 90%;
    margin: 0 auto;
  }
  .text-sec1 {
    text-align: center;
    margin-top: 50px;
  }
  .part1,
  .part2,
  .part3 {
    width: 30%;
  }
  .images {
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: 0 auto;
  }
  .our-add {
    width: 45%;
  }
  .contect-sec3 {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    column-gap: 46px;
  }

  .con-sec3 {
    width: 90%;
    margin: 0 auto;
  }
  .subject input {
    width: 98%;
  }
  .name input,
  .mail input {
    width: 95%;
  }

  .name-mail {
    flex-flow: row nowrap;
  }
  .col3 {
    width: 25%;
  }
  .colm1 {
    width: 25%;
  }
  .colm2 {
    width: 30%;
  }
  .con-sec5 {
    display: flex;
    justify-content: space-between;
  }
  .area textarea {
    width: 98%;
  }
  .nav_list {
    display: block;
  }
  .viv {
    display: none;
  }
}

/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: 1024px) {
  .nav {
    display: flex;
    align-items: baseline;
    align-content: center;
    flex-wrap: wrap;
  }
  .btn-2::before {
    left: 82px;
  }
  .btn-2 i {
    left: 90px;
  }
  .nav_list {
    margin: 0 auto;
  }
  .nav_list ul {
    display: flex;
    flex-flow: row;
  }

  .nav_list ul li::before {
    content: "";
    width: 0rem;
    height: 0.1rem;
    position: absolute;
    top: 80%;
    background-color: var(--main-color);
    transition: all 1s;
  }
  .nav_list ul li:hover::before {
    width: 2.7rem;
  }
  .nav_list ul li:nth-last-of-type(2)::before {
    content: "";
    width: 0rem;
    height: 0.1rem;
    position: absolute;
    top: 80%;
    background-color: var(--main-color);
  }
  .nav_list ul li:nth-last-of-type(2):hover::before {
    width: 3.2rem;
  }
  .nav_list ul li:nth-last-of-type(1)::before {
    content: "";
    width: 0rem;
    height: 0.1rem;
    position: absolute;
    top: 80%;
    background-color: var(--main-color);
  }
  .nav_list ul li:nth-last-of-type(1):hover::before {
    width: 3.6rem;
  }
  .nav .nav_logo {
    margin-left: 5rem;
  }

  .header {
    height: 100vh;
    flex-flow: row-reverse wrap;
  }

  .header {
    justify-content: space-between;
  }
  .header_photo {
    width: 30%;

    padding-top: 1rem;
  }
  .header_text {
    width: 50%;
    background-color: #eeeeee;
    display: flex;
    flex-flow: wrap;
    text-align: left;
    padding: 0px 109px;
  }
  .btn-1 {
    height: 44px;
    background-color: var(--main-color);
    width: 27%;
    padding: 10px 0;
    border-radius: 0px 50px 50px 50px;
    margin: 0;
    margin-right: 24px;
    text-align: center;
  }

  .btn-2 {
    width: 46%;
    padding: 10px 0;
    margin-left: 19px;
    /* border-radius: 50px; */
    /* margin: 0 auto; */
    margin-top: 0px;
    position: relative;
  }

  .btn-2 i {
    font-size: 47px;
    position: absolute;
    top: -2.5px;
    left: -12px;
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 50px;
  }
  .btn-2::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 60px;
    top: -10px;
    left: -20px;
    background-color: var(--main-color);
    border-bottom-left-radius: 500px;
    border-top-left-radius: 500px;
  }

  .card-sec1 {
    width: 30%;
  }

  .con-cardes {
    display: flex;
    column-gap: 50px;
  }

  .con-sec1 {
    width: 90%;
    margin: 0 auto;
  }
  .text-sec1 {
    text-align: center;
    margin-top: 50px;
  }
  .part1,
  .part2,
  .part3 {
    width: 30%;
  }
  .images {
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: 0 auto;
  }
  .our-add {
    width: 45%;
  }
  .contect-sec3 {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    column-gap: 46px;
  }

  .con-sec3 {
    width: 90%;
    margin: 0 auto;
  }
  .subject input {
    width: 98%;
  }
  .name input,
  .mail input {
    width: 95%;
  }

  .name-mail {
    flex-flow: row nowrap;
  }
  .col3 {
    width: 25%;
  }
  .colm1 {
    width: 25%;
  }
  .colm2 {
    width: 30%;
  }
  .con-sec5 {
    display: flex;
    justify-content: space-between;
  }
  .area textarea {
    width: 98%;
  }
  .nav_list {
    display: block;
  }
  .viv {
    display: none;
  }
}

/* Largest devices such as desktops (1280px and up) */
@media only screen and (min-width: 1280px) {
  .nav {
    display: flex;
    align-items: baseline;
    align-content: center;
    flex-wrap: wrap;
  }
  .btn-2::before {
    left: 82px;
  }
  .btn-2 i {
    left: 90px;
  }
  .nav_list {
    margin: 0 auto;
  }
  .nav_list ul {
    display: flex;
    flex-flow: row;
  }

  .nav_list ul li::before {
    content: "";
    width: 0rem;
    height: 0.1rem;
    position: absolute;
    top: 80%;
    background-color: var(--main-color);
    transition: all 1s;
  }
  .nav_list ul li:hover::before {
    width: 2.7rem;
  }
  .nav_list ul li:nth-last-of-type(2)::before {
    content: "";
    width: 0rem;
    height: 0.1rem;
    position: absolute;
    top: 80%;
    background-color: var(--main-color);
  }
  .nav_list ul li:nth-last-of-type(2):hover::before {
    width: 3.2rem;
  }
  .nav_list ul li:nth-last-of-type(1)::before {
    content: "";
    width: 0rem;
    height: 0.1rem;
    position: absolute;
    top: 80%;
    background-color: var(--main-color);
  }
  .nav_list ul li:nth-last-of-type(1):hover::before {
    width: 3.6rem;
  }
  .nav .nav_logo {
    margin-left: 5rem;
  }

  .header {
    height: 100vh;
    flex-flow: row-reverse wrap;
  }

  .header {
    justify-content: space-between;
  }
  .header_photo {
    width: 30%;

    padding-top: 1rem;
  }
  .header_text {
    width: 50%;
    background-color: #eeeeee;
    display: flex;
    flex-flow: wrap;
    text-align: left;
    padding: 0px 109px;
  }
  .btn-1 {
    height: 44px;
    background-color: var(--main-color);
    width: 27%;
    padding: 10px 0;
    border-radius: 0px 50px 50px 50px;
    margin: 0;
    margin-right: 24px;
    text-align: center;
  }

  .btn-2 {
    width: 46%;
    padding: 10px 0;
    margin-left: 19px;
    /* border-radius: 50px; */
    /* margin: 0 auto; */
    margin-top: 0px;
    position: relative;
  }

  .btn-2 i {
    font-size: 47px;
    position: absolute;
    top: -2.5px;
    left: -12px;
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 50px;
  }
  .btn-2::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 60px;
    top: -10px;
    left: -20px;
    background-color: var(--main-color);
    border-bottom-left-radius: 500px;
    border-top-left-radius: 500px;
  }

  .card-sec1 {
    width: 30%;
  }

  .con-cardes {
    display: flex;
    column-gap: 50px;
  }

  .con-sec1 {
    width: 90%;
    margin: 0 auto;
  }
  .text-sec1 {
    text-align: center;
    margin-top: 50px;
  }
  .nav_list {
    display: block;
  }
  .viv {
    display: none;
  }
}

/*@media screen and (min-width: 426px) {
    .nav {
      display: flex;
      align-items: baseline;
      align-content: center;
      flex-wrap: wrap;
    }
    .btn-2::before {
      left: 82px;
    }
    .btn-2 i {
      left: 90px;
    }
    .nav_list {
      margin: 0 auto;
    }
    .nav_list ul {
      display: flex;
      flex-flow: row;
    }
  
    .nav_list ul li::before {
      content: "";
      width: 0rem;
      height: 0.1rem;
      position: absolute;
      top: 80%;
      background-color: var(--main-color);
      transition: all 1s;
    }
    .nav_list ul li:hover::before {
      width: 2.7rem;
    }
    .nav_list ul li:nth-last-of-type(2)::before {
      content: "";
      width: 0rem;
      height: 0.1rem;
      position: absolute;
      top: 80%;
      background-color: var(--main-color);
      
    }
    .nav_list ul li:nth-last-of-type(2):hover::before {
      width: 3.2rem;
    }
    .nav_list ul li:nth-last-of-type(1)::before {
      content: "";
      width: 0rem;
      height: 0.1rem;
      position: absolute;
      top: 80%;
      background-color: var(--main-color);
      
    }
    .nav_list ul li:nth-last-of-type(1):hover::before {
      width: 3.6rem;
    }
    .nav .nav_logo {
      margin-left: 5rem;
    }
  }*/
